*

!.gitignore
!.tmux.conf
!.claude/
!.claude/settings.json
!.claude/statusline-command.sh
!.claude/setup-claude-remote.sh
!.claude/skills/
!.claude/skills/**
!.claude/agents/
!.claude/agents/**
!.claude/rules/
!.claude/rules/**
!.claude/user-projects/
!.claude/user-projects/**
!mcp-servers/
!mcp-servers/**
!backlog.md
!CLAUDE.md

package-lock.json
node_modules
